extends layout

mixin site(site)
  tr
    td= site.visits 
    td: a(href='/sites/' + site.site_host)= site.site_host

block content
    ul.breadcrumbs
      li: a(href='/') Home
      li.active: a(href='/sites') Sites

     table.twelve
      thead
        tr
          th Visits
          th Site
        tbody
          - for site in sites
            +site(site)
